html {
  font-family: "Poppins";
  font-size: 22px;
}
.container-fluid {
  background-color: #0a212e;
}

.text-muted{
  color: #e9eff4;
  opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}

.btn{
  border-radius: 50px;
  padding: 14px 24px;
}

.btn-primary{
  background: linear-gradient(136.13deg, #76C0DF -0.07%, #184D6B 101.73%);
  color: white;
}

.btn-outline-primary{
  border: #39B5BF solid 3px;
  color: #39B5BF;
}


.title-green {
  color: #74D5FF;
}

.nav-text{
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.section-1 {
  padding: 100px 50px 222px 50px;
}

.section-2 {
  padding: 100px 50px 100px 50px;
  background-color: #194056;
}

.section-3 {
  padding: 100px 50px 100px 50px;
  
}


.slider-card,
.slider-card img {
  border-radius: 20px 20px 0px 0px;
}
.card {
  background-color: #0a212e;
}

.card-section-3 {
  background-color: #194056;
  border-radius: 20px;
  margin-bottom: 30px;
}

.section-3-icon {
width: 60px;
height: 60px;
background: #0A212E;
display: flex;
justify-content: center;
align-items: center;
border-radius: 17px;
margin-bottom: 24px;  
}

.card-section-3-right {
  padding: 30px;
}

.card-section-3-left {
  background: linear-gradient(
    136.13deg,
    rgba(118, 192, 223, 0.6) -0.07%,
    rgba(24, 77, 107, 0.6) 101.73%
  );
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.card-section-3-left img {
  width: 200px;
}

.section-4 {
  background-color: #112835;
  padding: 100px 50px 100px 50px;
}

.card-section-4 {
  display: flex;
  justify-content: center;
}

.section-5 {
  background-color: #1c4156;
  padding: 100px 50px 100px 50px;
  background: #0A212E,linear-gradient(136.13deg, rgba(118, 192, 223, 0.6) -0.07%, rgba(24, 77, 107, 0.6) 101.73%);
}

.section-6 {
  padding: 100px 50px 100px 50px;
}

.card-section-6 {
  background: linear-gradient(
    136.13deg,
    rgba(118, 192, 223, 0.6) -0.07%,
    rgba(24, 77, 107, 0.6) 101.73%
  );
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 0;
  display: flex;
  justify-content: end;
}

.section-6-icon {
  background-color: #194056;
  padding: 20px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.section-6-icon img {
  width: 50px;
}


.section-7 {
  background-color: #173445;
  padding: 100px 50px 100px 50px;
}

.card-section-7 {
  background-color: #0A212E;
  border-radius: 20px;
  margin: 20px;
  padding: 30px;
  height: 300px;
  
}

.card-section-7-icon {
  background-color: #173445;
  border-radius: 20px;
  width: 110px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section-8 {
  padding: 100px 50px 100px 50px;
}

.card-section-8 {
  background: linear-gradient(
    136.13deg,
    rgba(118, 192, 223, 0.6) -0.07%,
    rgba(24, 77, 107, 0.6) 101.73%
  );
  border-radius: 20px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-section-8-rigtht{
margin-left: 100px;
}

.section-9 {
  background-color: #173445;
  padding: 70px 50px 70px 50px;
}

.section-10 {
  padding: 70px 50px 70px 50px;
}

.section-11 {
  background-color: #194056;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 64px;
}