.toggle-wrapper{
  border: #76C0DF solid 1px;
  border-radius: 14px;
  margin-right: 23px;
  margin-left: 16px;
}

.dropdown-toggle{
  font-size: 15px;
  background: none;
  color: #fff;
  border: #76C0DF solid 1px;
  padding: 8px 16px 8px 16px;
  border-radius: 14px;
  
}

.icon-div{
  padding: 4px 6px;
  border-radius: 12px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-div:hover{
  padding: 4px 6px;
  border-radius: 12px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(200, 200, 200, 0.5);
}

.icon-div-dark{
  background: #173445;
}